apiVersion: v1
kind: Service
metadata:
  name: {{ include "trading-platform.fullname" . }}
  labels:
    {{- include "trading-platform.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  {{- with .Values.service.sessionAffinityConfig }}
  sessionAffinityConfig:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "trading-platform.selectorLabels" . | nindent 4 }}
